fastapi
uvicorn
itsdangerous
sqlalchemy
PyPDF2
pytz
passlib
pydantic_settings
jinja2
python-multipart
requests
httpx
authlib
pikepdf
PyMuPDF
opencv-python
gunicorn
alembic
psycopg2-binary
filelock
reportlab